body {
    /* background-image: url("https://png.pngtree.com/background/20230417/original/pngtree-modern-futuristic-sci-fi-background-picture-image_2447471.jpg");
    background-size: 100%;
    background-repeat: no-repeat; */
    background-color: black;
    
   }

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
  }

  .center {
    display: block;
    margin: auto;
    /* width: 60%;
    border: 3px solid #73AD21;
    padding: 10px; */
  }
  .imgcenter {
    display: block;
    margin: auto;
    /* width: 60%;
    border: 3px solid #73AD21;
    padding: 10px; */
    padding-top: 7px;
  }

  video {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#temp {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#video1 {
  display: none;
}

#text {
    left: 10%;
    position: absolute;
    top: 10%;
}

